{{> header }}

<div class="d-flex justify-content-around align-items-center mt-5">
    {{#each data}}
        <a href="/stats/{{this.key}}"><button class="btn btn-primary">{{this.name}}</button></a>
    {{/each}}
</div>